{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<meta charset="utf-8">
	<title>
		{% block head_title %}

		{% endblock %}
	</title>
{% if user.is_authenticated %}
				<button><a href="{% url "juego_create" %}">Crear Juego Nuevo</a></button>
				<button ><a href="{% url "cerrar_sesion" %}">Desconectar</a></button>
				<button ><a href="{% url "juego_lista" %}">Inicio</a></button>

				{% if request.user.is_staff %}
				<button><a href="{% url "usuario_nuevo" %}">Crear nuevo usuario</a></button>

   				{% endif %}

				{% else %}
				<button><a href="{% url "usuario_nuevo" %}">Registrarse</a></button>
				<button><a text href="{% url "ingresar" %}">Iniciar sesion</a></button>
				<button ><a href="{% url "juego_lista" %}">Inicio</a></button>

{% endif %}


<label>Bienvenido, {{request.user}}.</label>

</head>

<body>

{% block content %}


{% endblock %}


</body>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</br>
</br>

</br>
</br>


</html>
