
{% extends 'base.html' %}
{% block content %}

<h2>Detalles de {{juego.nombre}} </h2><br><br>
<div>
<strong>Nombre</strong>: {{juego.nombre}}<br>
<strong>Genero</strong>: {{juego.genero.all}}<br>
<strong>Creador</strong>: {{juego.creador}}<br>
<strong>Plataforma</strong>: {{juego.plataforma.all}}<br>
</div>
{% endblock %}



<table>
<tr>
	<td>Nombre</td>
	<td>Genero</td>
	<td>Creador</td>
	<td>Plataforma</td>
</tr>
<tr>
	<td>{{juego.nombre}}</td>
	<td>{{juego.genero.all}}</td>
	<td>{{juego.creador}}</td>
	<td>{{juego.plataforma.all}}</td>
</tr>
</table>

