a{
color: black;
font-family: 'Lobster';
}


h1 ,h2 { color:white;
        font-family: 'Lobster'; 
        font-size: 40px;
        }


body {
    background-image: url("imagen/ooo.jpg");
	background-size:cover; 
    background-repeat:no-repeat;
    background-position:center center;


}
.contenido {
color: #FCA205;
font-family: 'Lobster';
font-size: 25px;
}



